div a.active {
  background-color: #6D8586;
  color: #E2E2E2;
}

.navbar {
  display: flex;
  width: 100%;
}

.navbar .navlinks {
  width: 100%;
}

.navbar a {
  float: left;
  color: #3F4D4E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px;
  margin: 10px 5px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .logout {
  float: right;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content .income_form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content .chart-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.field {
  padding: 5px 5px;
  
}
